.nav-heading    {
    background-color: rgb(23, 24, 25);
}

.nav-heading > .text {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-heading > .text > .about-heading {
    background-color: #cea135;
    color: #11122b;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 175px;
    padding: 10px;
    text-align: center;
}

/* Page container styles */

.page-container   {
    display: flex;
    justify-content: center;
    padding-top: 17em;
}

.page-container > .content-wrapper {
    width: 1000px;
}

.page-container > .content-wrapper > #Chef {
    width: 350px;
    margin: 25px 25px 8px;
    float: left;
    border: 2px solid #cea135;

}

.page-container > .content-wrapper p {
    letter-spacing: 1px;
    line-height: 30px;
}