.bottom-nav {
    background-color: #11122b;
    color: #cbcbcb;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
    padding: 60px 100px;
    grid-gap: 35px;
}

.bottom-nav > .contact-hours {
    display: flex;
    justify-content: center;
    font-family: "Ubuntu Condensed", sans-serif;
}

.bottom-nav > .contact-hours > .phone {
    padding-right: 2em;
}

.bottom-nav > .contact-hours > .store-hours {
    color: #cea135;
}

.bottom-nav > .socials-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    font-size: 2em;
    color: #cbcbcb;
}

.copyright  {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

.bottom-nav > .nav-wrapper {
    filter: brightness(50%);
}

.bottom-nav > .socials-wrapper:any-link {
    color: #cbcbcb;
}

.bottom-nav > .socials-wrapper a:hover {
    color: #cea135  ;
    font-size: 1.2em;
}

.bottom-nav > .socials-wrapper a {
    transition: .75s;
}