.contact-container  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container > .info {
    font-family: "Ubuntu Condensed";
    width: 200px;
    height: 500px;
    padding-right: 50px;
    font-size: 1.25em;
}

.text  {
    text-align: right;
    padding-bottom: .75em;
}

.icon   {
    color: #cea135;
}

.contact-container > .form {
    width: 50%;
}

.contact-container > .info > img {
    width: 100%;
}

.address    {
    display: flex;
    justify-content: space-between;
}

.phone    {
    display: flex;
    justify-content: space-between;
}

.hours    {
    display: flex;
    justify-content: space-between;
}